<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ahorcado</title>
</head>
<body>
    <h1 id="titulo">Ahorcado</h1>
    <div id="incognita">Adivina la palabra: _</div>
    <form action="/" method="post">
        <input type="text" name="user_guess_letter" id="user_guess_letter"/>
        <input type="submit" value="¡Adivinar!"/>
    </form>
    <div id="letras_arriesgadas0">A - :(</div>
</body>
</html>